
/*
#map1{
    margin: 0 auto;
    width: 80%;
    min-height: 600px;
    max-width: 100%;
}

h4{
 color:blueviolet;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;   
}

select{
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner2{
    /*width: 70%;*/
    /*
    width: 12vw;
    height: auto;
}
.prueba{
    text-align: center;
}


#menu {
    font-family: Arial;
    font-size: 12.5px;
    text-align: center;
    z-index: 998;
    position: fixed;
    width: 100%;
    left: 0px; /*A la derecha deje un espacio de 0px*/
    /*
    right: 0px; /*A la izquierda deje un espacio de 0px*/
    /*
    bottom: 0px; /*Abajo deje un espacio de 0px*/
    /*
}

    #menu ul li {
        display: inline-block;
        text-decoration: none;
        color: #FFF;
        padding: 0.6%;
        cursor: pointer;
        background-color:darkgrey;
        opacity: 0.6;
        width: 11%;
        border-radius: 5px;
        cursor: pointer;
    }

        #menu ul li:hover {
            background-color:darkslategray;
            cursor: pointer;
        }

*/

.leaflet-control-layers-overlays {
    line-height: 0 !important;   
}

.custom .leaflet-popup-tip {
    display: none;
}

body {
    padding: 0;
    margin: 0;
}

html, body, #mapid {
    height: 100%;
}

.logo {
    width: 20%;
    height: auto;
}

.banner2 {
    width: 70%;
    height: auto;
}

.legend {
    background: rgba(255, 255, 255, 0.85);
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #A9A9A9;
    box-shadow: 13px 10px 30px -3px rgba(0,0,0,0.47);
    -webkit-box-shadow: 13px 10px 30px -3px rgba(0,0,0,0.47);
    -moz-box-shadow: 13px 10px 30px -3px rgba(0,0,0,0.47);
}

.titleLegend {
    text-align: center;
}

.desc1 {
    background: #fd0000;
    margin-right: 5%;
    border: 1px solid #909090;
}

.desc2 {
    background: #fcdf0a;
    margin-right: 5%;
    border: 1px solid #909090;
}

.desc3 {
    background: #0d99ee;
    margin-right: 5%;
    border: 1px solid #909090;
}

.desc4 {
    background: #3ade29;
    margin-right: 5%;
    border: 1px solid #909090;
}

.desc5 {
    background: #a0a2a0;
    margin-right: 5%;
    border: 1px solid #909090;
}

/**/

#menu {
    font-family: Arial;
    font-size: 12.5px;
    text-align: center;
    z-index: 998;
    position: fixed;
    width: 100%;
    left: 0px; /*A la derecha deje un espacio de 0px*/
    right: 0px; /*A la izquierda deje un espacio de 0px*/
    bottom: 0px; /*Abajo deje un espacio de 0px*/
}

#menu ul li {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    padding: 0.6%;
    cursor: pointer;
    background-color: #005580;
    opacity: 1;
    width: 11%;
    border-radius: 5px;
    cursor: pointer;
}

#menu ul li:hover {
    background-color: #004365;
    cursor: pointer;
}

#titulo{
    color: red;
}
/*
.letrasControl{
    color:red;
    background-color: #3ade29;
}
*/

#comunaID{
    color: #FFF;
    background-color: black;
    margin: 10px;
    font-weight: bold;
    font-size: 1rem !important;
    
    
}

.comunaID{
    color: #FFF;
    background-color: black;
}

.test > .leaflet-control-layers-selector{
    transform : scale(1.2) !important;
    /*width: 40px !important;
    height: 40px !important;*/
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*https://loading.io/*/
    background: url('Gear-0.6s-200px.svg') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
/*
Custom scrollbar leyenda
*/
.legendCustom{
    max-height: 130px;
    overflow: auto;
}

.legendCustom::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
.legendCustom::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
       
      /* Handle */
.legendCustom::-webkit-scrollbar-thumb {
        background: #888; 
      }
      
      /* Handle on hover */
.legendCustom::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
/*

*/

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .principal {
    /*
    width: 85%;*/
    margin-left: 0.8rem;
  }

  .principal {
    /*
    width: 85%;*/
    margin-left: 0.8rem;
    margin-right: 4rem;
  }
  .sidebar {
    width: 2rem;
  }

  .sidebar2 {
    border-style: outset;
    margin-left: auto;
    display: block;
  }

  br{margin-bottom:3px;}


/*
Minimizar

     
    
*/
  .gg-minimize-alt {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,0.85));
    width: 26px;
    height: 2px;
    border-left: 10px solid;
    border-right: 10px solid;
    margin-top: 0.9rem;
}
.gg-minimize-alt::after,
.gg-minimize-alt::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    top: -2px
}
.gg-minimize-alt::before {
    border-right: 2px solid;
    left: -5px;
    transform: rotate(45deg)
}
.gg-minimize-alt::after {
    border-left: 2px solid;
    right: -5px;
    transform: rotate(-45deg)
}

.bordeMinize{
    border-style: outset;
    
}


.gg-math-minus {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 2px;
    background: currentColor;
    border-radius: 10px
}

